@model  IEnumerable<PizzaPalace.Data.Orders>
@using PizzaPalace.Data;
@{
    ViewData["Title"] = "AngelitoOrder";
}

<h2>AngelitoOrder</h2>

<table class="table" style="border: dashed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationsIdfk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationsIdfkNavigation.LocationsId)
                </td>
            </tr>
        }
    </tbody>
</table>
