@*@model PizzaPalaceWeb.Models.ModeloGeneral
@{
    ViewData["Title"] = "PlaceAnOrder";
}
<form asp-action="PlaceAnOrder">
    <div class="form-group">
        @Html.DropDownListFor(x => x.Pizza, new List<SelectListItem>
        {
              new SelectListItem() {Text = "Cheese Pizza", Value="Cheese"},
              new SelectListItem() {Text = "Pepperoni Pizza", Value="Pepperoni"},
              new SelectListItem() {Text = "Sausage Pizza", Value="Sausage"},
              new SelectListItem() {Text = "Bacon Pizza", Value="Bacon"},
              new SelectListItem() {Text = "Onions Pizza", Value="Onions"},
              new SelectListItem() {Text = "Chicken Pizza", Value="Chicken"},
              new SelectListItem() {Text = "Chorizo Pizza", Value="Chorizo"},

        }, "Select A Topping")
    </div>
    <div class="form-group">
        @Html.DropDownListFor(x => x.SelectSize, new List<SelectListItem>
        {
              new SelectListItem() {Text = "Small  -> $5.00", Value = "small"},
              new SelectListItem() {Text = "Medium -> $10.00", Value = "medium"},
              new SelectListItem() {Text = "Large  -> $16.00", Value = "large"},

        }, "Select A Size")
    </div>
    <input type="hidden" value="Amount" asp-for="Count" />
    <div class="form-group">
        <input type="submit" value="Add Pizza" class="btn btn-default" />
    </div>
</form>
<form asp-action="ShowOrder">
    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-default" />
    </div>
</form>*@