@model IEnumerable<PizzaPalace.Data.Users>

@{
    ViewData["Title"] = "Home";
}
<style>
    button {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        *display: inline; 
        zoom: 1; 
        vertical-align: middle;
        margin-left: 20px;
        }

  h4 {
        display: inline-block;
        *display: inline; 
        zoom: 1;
        float: left;
        padding-top: 5px;
        text-align: left;
        width: 450px;
        }
    body {
        background-color: black;
    }


</style>
<body>
    <h1 align="center" style="color: white">Pizza Palace</h1>


    <table class="table" style="border: double; background-color: white">
        <thead>
            <tr>
                <th style="display: flex">
                    <div class="form-group">
                        <h4>X) Get Pizza</h4>
                        <button type="submit" class="btn btn-default "><a style="color: black" href="LogIN">SELECT</a></button>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <h4> Search users by name</h4>
                        <button type="submit" class="btn btn-default "><a style="color: black" href="SearcUser">SELECT</a></button>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <h4> Display all order history of Angelitos Pizzeria</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" asp-area="" asp-controller="Orders" asp-action="AngelitoOrder">SELECT</a></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <h4> Display all order history of Pizza Palace!</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" asp-area="" asp-controller="Orders" asp-action="PizzaPalace">SELECT</a></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <h4> All Users</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" href="index">SELECT</a></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <h4> All Locations and Inventory</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" asp-area="" asp-controller="Locations" asp-action="Index">SELECT</a></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <h4> All Order</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" asp-area="" asp-controller="Orders" asp-action="Index">SELECT</a></button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <h4> User/Order/Pizzas Relations</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default "><a style="color: black" asp-area="" asp-controller="PizzaOrder" asp-action="Index">SELECT</a></button>
                    </div>
                </th>
            </tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.DefaultLocationFkNavigation)
                </th>
                <th></th>*@
            </tr>
        </thead>
    </table>
</body>