@model PizzaPalace.Data.Users
@{
    ViewData["Title"] = "LogIN";
}

<style>
    body {
        background-color: gainsboro;
    }
</style>


<h1 align="center">Welcome to Pizza Palace!</h1>
<hr />
<div class="row">

    <div class="col-md-4">
        <form  asp-controller="PizzaOrder" asp-action="SuggestedOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" required="required" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" required="required" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" required="required" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-default" />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}