
@{
    ViewData["Title"] = "Home";
}
<style>
    div {
       align-content: center;
    }


</style>
<h1 align="center">Welcome To Pizza Palace!</h1>


<form action="" style=" border-style: solid; border-color: black; background-color: white">
<legend style="border-bottom-style: solid; border-color: black; color:black">
    <h4 align="center">Select your Favorite Pizza Place</h4></legend>

        <div align="center">
            <label type="text"><b><h3>Pizza Palace!</h3></b></label>
            <button type="submit" formaction="login.php"> GO!</button>
        </div>

        <div align="center"">
            <label type="text"><b><h3>Angelitos Pizza!</h3></b></label>
            <button type="submit" formaction="login.php"> GO!</button>
        </div">


        <div align="center">
            <label type="text"><b><h3>Belitos Pizza!</h3></b></label>
            <button type="submit" formaction="About"> GO!</button>
        </div>
</form>

